name: Python package

on:
    push:
        branches:
            - master

env:
    GOAT: ${{ vars.GOAT }}
    COSMOSDB_ACC_NAME: ${{ vars.COSMOSDB_ACC_NAME}}
    COSMOSDB_CLIENT: ${{ vars. COSMOSDB_CLIENT}}
    COSMOSDB_CONT_NAME: ${{ vars. COSMOSDB_CONT_NAME}}
    COSMOS_ENDPOINT: ${{ vars. COSMOS_ENDPOINT}}
    COSMOS_KEY: ${{ vars. COSMOS_KEY}}
    
    

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Set up Python

              uses: actions/setup-python@v4
              with:
                python-version: '3.x'
                architecture: 'x64'


            - name: Display Python version
              run: python -c "import sys; print(sys.version)"

            - name: Run the python code
              run: |
                python testing_secrets.py

            - name: Run the python tests
              run: |
                pip install azure-cosmos
                python tests.py

    display:
        runs-on: ubuntu-latest

        steps:
            - name: Display a variable
              run: |
                echo "Africa is great"
    




