name: Python package

on:
    push:
        branches:
            - master

env:
    GOAT: ${{ vars.GOAT }}

jobs:
    build:
        runs-on: ubuntu-latest



        steps:
            - uses: actions/checkout@v4
            - name: Set up Python

              uses: actions/setup-python@v4
              with:
                python-version: '3.x'
                architecture: 'x64'


            - name: Display Python version
              run: python -c "import sys; print(sys.version)"

            - name: Run the python code
              run: python testing_secrets.py

    display:
        runs-on: ubuntu-latest

        steps:
            - name: Display a variable
              run: |
                echo "Africa is great"
    




